
<% if !current_user %>
<div class="welcome">
<h1> Welcome to the Forum please login or signup!</h1>
</div>
<%else%>
<h3> Forums </h3>
<form action="/forums" method="GET">
  <input type="text" name="search_name" >
  <input type="submit" value="Search for Forum">
</form>

<form action="/forums" method="GET">
  <label for="filter">Filter Options</label>
  <select id="filter" name="filter" onchange="this.form.submit()">
    <option value="">Pick a Filter Option</option>
    <option value="category" <%= "selected" if session[:filter] == "category" %>>Filter by Category</option>
    <option value="most_recent" <%= "selected" if session[:filter] == "most_recent" %>>Filter by Most Recent</option>
    <option value="by_popularity" <%= "selected" if session[:filter] == "by_popularity" %>>Filter by Popularity</option>
    <option value="active" <%= "selected" if session[:filter] == "active" %>>Active Forums</option>
  </select>
  <% if session[:filter] == "category" %>
    <select name="filter_option" onchange="this.form.submit()">
      <option value="">Pick a Category</option>
      <option value="Exercise">Exercise</option>
      <option value="Workouts">Workouts</option>
      <option value="Diet">Diet</option>
      <option value="Competition">Competition</option>
    </select>
  <% elsif session[:filter] == "most_recent" %>
    <select name="filter_option" onchange="this.form.submit()">
      <%= @forums = Forum.all.most_recent %>
    </select>
  <% elsif session[:filter] == "by_popularity" %>
    <select name="filter_option" onchange="this.form.submit()">
      <%= @forums = Forum.all.by_popularity %>
    </select>
  <% elsif session[:filter] == "active" %>
     <select name="filter_option" onchange="this.form.submit()">
       <%= @forums = Forum.all.active %>
     </select>
  <% end %>
</form>

<%= link_to "Clear Filter Options", clear_path %>
<br>
<br>
<br>
<div class="inner-main-body">
<% @forums.each do |forum| %>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-2">
        <div class="card-body">
          <image src="<%=(url_for(forum.user.avatar))%>" class="rounded-circle" width="50" alt="User" />
          <%= link_to forum.name, forum_path(forum)%> - created by - <%=link_to forum.user.username, user_path(forum.user)%><br>
        <strong><%= forum.category%></strong>
        <br>
        <%= forum.users.uniq.count%> users in conversation
        <br>
          posted <%= time_ago_in_words(forum.created_at) %> ago
          </br>


  </div>
</div>
  </div>
</div>

<%end%>
<%end%>
</div>
