Forums
<h1><%=@forum.name%></h1>

<% @forum.posts.each do |post| %>
    <p><%=post.comment%></p>
    <ul>
      <li><%=post.user.username%></li>
      <li><%=post.created_at%></li>
    </ul>
<%end%>
<p><%= @forum.posts.count%><p>
<%= render 'posts/form'%>
