<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<div class="container">
<div class="col-md-3-align-self-center">
<div class="inner-main-body">
    <div class="card mb-2">
        <div class="card-body">
            <div class="media forum-item">
                <a href="<%=user_path(@forum.user_id)%>" class="card-link">
                    <image src="<%=(url_for(@forum.user.avatar))%>" class="rounded-circle" width="50" alt="User" />

                </a>
                <div class="media-body ml-3">
                    <a href="<%=user_path(@forum.user_id)%>" class="text-secondary"><%=@forum.user.username%></a>
                    <small class="text-muted ml-2">posted <%= time_ago_in_words(@forum.created_at) %> ago</small>
                    <h5 class="mt-1"><%=@forum.name%></h5>
                    <div class="mt-3 font-size-sm">
                    <p><%=@forum.posts.first.comment%></p>
                    </div>
                </div>
                <div class="text-muted small text-center">
                    <span><i class="far fa-comment ml-2"></i><%= @forum.posts.count%></span>
                </div>
            </div>
        </div>
    </div>
    <% @forum.posts.drop(1).each do |post| %>
    <div class="card mb-2">
        <div class="card-body">
            <div class="media forum-item">
                <a href="<%=user_path(post.user_id)%>" class="card-link">
                    <image src="<%=(url_for(post.user.avatar))%>" class="rounded-circle" width="50" alt="User" />
                </a>
                <div class="media-body ml-3">
                    <a href="<%=user_path(post.user_id)%>" class="text-secondary"><%=post.user.username%></a>
                    <div class="mt-3 font-size-sm">
                    <p><%=post.comment%></p>
                    <small class="text-muted ml-2">posted <%= time_ago_in_words(post.created_at)%> ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%end%>
</div>


</div>



<% if @forum.status == true %>
<div class="banner">
  <%= render 'posts/form'%>
</div>
  <footer>
  <% if @forum.user_id == session[:user_id] %>
  <button type="button" class="btn btn-warning"><%=link_to "Close Thread", close_path(@forum)%></button>
  <%end%>
  </footer>
<%else %>
  <footer>
  <button type="button" class="btn btn-warning" disabled>  <strong>This Forum Is Closed.</strong></button>
    </footer>
<%end%>
