
<h1><%=@forum.name%></h1>
<h3><%=@forum.d%></h3>

<% @forum.posts.each do |post| %>
    <p><%=post.comment%></p>
    <ul>
      <li><%=post.user.username%></li>
      <li><%=post.d%></li>
    </ul>
<%end%>
<p><%= @forum.posts.count%><p>

<% if @forum.status == true %>
  <%= render 'posts/form'%>
  <footer>
  <% if @forum.user_id == session[:user_id] %>
  <p><%=link_to "Close Thread", close_path(@forum)%></p>
  <%end%>
  </footer>
<%else %>
  <footer>
    <strong>This Forum Is Closed.</strong>
    </footer>
<%end%>
