<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <br>
  <br>
  <footer>
    <%= link_to "All Users", users_path%><br>
    <%= link_to "All Forums", forums_path%><br>
    <%= link_to "All Posts", posts_path%><br>
  </footer>
</html>
